.container {
  height: 200vh;
  text-align: center;
}

.container > h1 {
  font-size: 50px;
  color: var(--container-bg-color);
  text-decoration: underline var(--black-bg-color);
}

.first_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.first_content p {
  width: 60vw;
  font-size: 20px;
  text-align: justify;
}

.second_content {
  display: flex;
  width: 70vw;
  margin: auto;
  margin-top: 5%;
  background-color: var(--background-bg-color);
  height: 30vh;
}

.second_content_heading {
  width: 30vw;
  font-size: 50%;
  padding: 5%;
}

.second_content_heading h1 {
  font-size: 50px;
  color: var(--container-bg-color);
}

.border {
  border-left: 5px solid var(--container-bg-color);
  height: 70%;
  margin-top: 2%;
}

.second_content_info {
  width: 30vw;
  text-align: justify;
  padding-left: 5%;
  padding: 5%;
  font-size: 20px;
}

.third_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: auto;
  font-size: 18px;
  margin-top: 5%;
  text-align: justify;
}

.third_content_first {
  width: 35vw;
  background-color: var(--background-bg-color);
  height: 30vh;
  padding: 10px 8px 0 10px;
}

.third_content_first h1 {
  font-size: 50px;
  color: var(--container-bg-color);
}

.third_content_second {
  width: 35vw;
  background-color: var(--container-bg-color);
  height: 30vh;
  padding: 15px 8px 0 10px;
}
