.frontend_container {
  min-height: 100vh;
  margin-top: 5%;
  font-family: speakieeboldregular;
}

.frontend_firstpage {
  display: flex;
  width: 80vw;
  margin: auto;
  height: 30vh;
}

.frontend_firstpage_content {
  width: 50vw;
  font-size: 20px;
  border-radius: 5px;
}

.frontend_firstpage_content h1 {
  font-size: 50px;
  color: var(--black-bg-color);
}

.border {
  border-left: 5px solid var(--container-bg-color);
  width: 10vw;
  margin-left: 10%;
  min-height: 280px;
}

.frontend_firstpage_img {
  width: 30vw;
}

.frontend_secondpage {
  display: flex;
  width: 85vw;
  margin: auto;
  min-height: 35vh;
  margin-top: 5%;
  margin-right: 5%;
}

.frontend_second_img {
  width: 30vw;
  background-color: #fff;
}
.frontend_secondpage h1 {
  font-size: 30px;
  font-weight: 600;
}

.frontend_secondpage_content {
  width: 60vw;
  font-size: 20px;
  background-color: var(--background-bg-color);
  padding: 3%;
  border-radius: 5px;
}

.frontend_thirdpage {
  display: flex;
  width: 85vw;
  margin: auto;
  min-height: 35vh;
  margin-right: 5%;
}

.frontend_thirdpage h1 {
  font-size: 30px;
  font-weight: 600;
}

#thirdimg {
  padding-left: 5%;
  background-color: var(--container-bg-color);
}

#thirdcontent {
  background-color: #fff;
  border-radius: 5px;

  /* background-color: rgba(171, 159, 159, 0.245); */
}

#fourimg {
  background-color: #fff;
}

#fourcontent {
  background-color: var(--background-bg-color);
  border-radius: 5px;
}

.second_containr {
  height: 180vh;
  margin-top: 5%;
}

.secondcon_firstcontent {
  display: flex;
  width: 80vw;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .frontend_firstpage,
  .frontend_secondpage,
  .frontend_thirdpage {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    border-bottom: 3px solid grey;
  }
  .frontend_firstpage_content h1 {
    font-size: 25px;
  }

  .frontend_firstpage_content,
  .frontend_secondpage_content,
  #thirdcontent {
    width: 90vw;
    font-size: 15px;
  }
  .border {
    border: none;
    margin-top: -60%;
    width: 70vw;
  }

  .frontend_firstpage_img {
    margin-top: 30%;
  }

  .frontend_thirdpage {
    width: 90vw;
  }

  #thirdcontent {
    background-color: var(--container-bg-color);
  }
  #thirdimg {
    background-color: #fff;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .frontend_container {
    font-size: 18px;
  }
  .frontend_firstpage {
    min-height: 50vh;
  }
}
