.container {
  min-height: 25vh;
  background-color: var(--black-bg-color);
  position: relative;
  font-family: speakiebold;

}

.content {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 0 10% 0 10%;
  color: white;

}

.content .service,
.careers,
.contact {
  border-right: 3px solid grey;
}

.content div h1 {
  font-size: 30px;
  color: var(--container-bg-color);
  font-weight: 500;
  padding-top: 10px;
}

.content li {
  font-size: 16px;
  list-style-type: none;
  padding: 5px;
  font-weight: normal;
}

.content p {
  font-size: 16px;
  padding: 5px;
}

.icons {
  float: right;
  margin: 0 8% 5% 0;
  font-size: 25px;
}
.icons span {
  margin: 3px;
}

.copyrights {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  font-size: 16px;
  color: #fff;
}

.arrow {
  color: var(--container-bg-color);
}

@media screen and (max-width: 768px) {
  .content .service,
  .careers,
  .contact,
  .headoffice,
  .located {
    border-right: none;
    border-bottom: 3px solid grey;
  }
  .copyrights {
    width: 100vw;
  }

  .copyrights span {
    width: 50vw;
    font-size: 12px;
  }

  .copyrights p {
    font-size: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .headoffice {
    border-right: 3px solid grey;
  }
  .contact {
    border: none;
  }
}
