.container {
  min-height: 100vh;
  background-color: white;
  position: relative;
  margin-top: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: speakieeboldregular;
}

.firstpageinfo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* background-color: var(--background-bg-color); */
  background-color: var(--black-bg-color);
  min-height: 25%;
  text-align: center;
  width: 70vw;
  column-gap: normal;
  border-radius: 5px;
}

.heading h1 {
  font-size: 38px;
  padding: 15%;
  color: var(--container-bg-color);
  font-weight: 600;
}

.border {
  border-left: 5px solid var(--container-bg-color);
  height: 70%;
  margin: 10%;
}

.active,
.service,
.team {
  font-size: 25px;
  padding-top: 5%;
}

.active span,
.service span,
.team span {
  font-size: 50px;
}

.secondpageinfo {
  display: grid;
  width: 70vw;
  min-height: 30vh;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.secondpageinfoheading h1 {
  font-size: 50px;
  margin-top: 6%;
}

.secondborder {
  border-left: 1px solid grey;
  margin-left: 90px;
  padding: -20px;
}

.secondpagecon {
  text-align: center;
  color: inherit;
}

.secondpagecon span {
  color: var(--container-bg-color);
  font-size: 50px;
  font-weight: lighter;
  margin: 0 auto;
  text-align: center;
}

.secondpagecon p {
  font-size: 20px;
}

.thirdpageinfo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35vw, 1fr));
  width: 70vw;
  min-height: 30vh;
  margin: 5%;
}

.thirdpagecon {
  min-width: 35vw;
  background-color: var(--black-bg-color);
  /* color: var(--background-bg-color); */
  color: black;
  font-size: 50px;
  padding-left: 5%;
}

.thirdpageseccon {
  min-width: 35vw;
  background-color: var(--container-bg-color);
}

.thirdpagecon p {
  padding-top: 5%;
}

.thirdpageseccon p {
  font-size: 20px;
  padding: 15px;
  color: white;
}

.thirdpageseccon span {
  font-size: 100px;
  /* color: rgba(0, 0, 0, 0.916); */
  padding-left: 15px;
  color: white;
}

#img {
  overflow: hidden;
}

#img:hover {
  transform: scale(1.2);
  transition: 2s;
}

@media screen and (max-width: 564px) {
  .border {
    border-left: none;
    border-bottom: 5px solid var(--container-bg-color);
    margin-top: -10%;
  }
  .thirdpageinfo {
    display: flex;
    flex-direction: column;
  }

  .thirdpageseccon {
    margin: 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .firstpageinfo {
    display: flex;
    flex-direction: column;
  }
  .active {
    margin-top: -25%;
  }
  .border {
    border: none;
  }
  .heading {
    width: 70vw;
  }
  .team {
    margin-top: 8%;
  }

  .secondborder {
    border: none;
  }
  .secondpageinfo span {
    font-size: 30px;
  }
  .secondpageinfo {
    display: flex;
    font-size: 15px;
  }
  .container {
    font-size: 15px;
  }
}
