.container {
  position: relative;
  z-index: 999;
  color: #fff;
}

.img {
  margin-left: 25%;
}

#middle {
  margin-left: 20%;
}

#submiddle {
  background-color: var(--background-bg-color);
}

.navbar {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 10vh;
  background-color: var(--background-bg-color);
  font-family: speakiebold;
  font-size: 25px;
  transition: 0.88s ease-out;
}
#middle li {
  display: inline-block;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 600;
}

#middle li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--container-bg-color);
  transition: width 0.50s;
}

#middle li:hover::after {
  width: 100%;
}

.navbar_end {
  display: none !important;
}

/* 
.drawer {
  display: flex;
  flex-direction: column !important;
  justify-content: flex-start;
} */

@media screen and (max-width: 768px) {
  #middle li {
    display: none !important;
  }
  .navbar_end {
    display: block !important;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
  }
  .img {
    width: 100px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #middle li {
    display: none !important;
  }
  .navbar_end {
    display: block !important;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
  }
  .img {
    width: 100px;
  }
}
