.container {
  min-height: 200vh;
  position: relative;
  width: 100vw;
  margin: 0 auto;
  background-color: #fff;
  font-family: speakieeboldregular;
}

.container > h1 {
  text-align: center;
  font-size: 50px;
}

.firststyle {
  display: flex;
  justify-content: space-between;
  min-height: 35vh;
  margin: auto;
  width: 70vw;
  margin-top: 5%;
  border-radius: 5px;
}

.img {
  width: 350px;
}

.secondstyle {
  display: flex;
  justify-content: space-between;
  height: 35vh;
  width: 70vw;
  margin: auto;
  margin-top: 5%;
  border-radius: 5px;
}

.firststylecontent {
  width: 30vw;
}

.secondstylecontent {
  width: 30vw;
}

.firststyle h1 {
  font-size: 50px;
  padding-left: 5%;
}

.firststylecontent p {
  font-size: 22px;
  padding-left: 5%;
}

.firststyleborder {
  border-left: 5px solid var(--black-bg-color);
  width: 5vw;
  height: 30vh;
}

.secondstyle {
  background-color: var(--background-bg-color);
}

.secondstyle h1 {
  font-size: 50px;
}

.secondstylecontent p {
  font-size: 22px;
  padding-right: 5%;
}

.secondstyleborder {
  border-left: 5px solid var(--container-bg-color);
  width: 5vw;
  height: 30vh;
  margin-top: 20px;
}

.firststyle a,
.secondstyle a {
  text-decoration: underline;
}

.findmore {
  margin-top: 5%;
}

@media screen and (max-width: 768px) {
  .firststyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 70vh;
    margin-top: 12%;
  }

  .firststyle h1 {
    font-size: 20px;
  }

  .firststyle p {
    font-size: 15px;
    width: 80vw;
  }
  .firststylecontent {
    margin-top: -5%;
  }
  .firststyleborder {
    border: none;
    margin-top: -10%;
    width: 70vw;
  }

  .secondstyle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80vw;
    height: 70vh;
    margin-top: 12%;
  }
  .secondstyle h1 {
    font-size: 20px;
  }

  .secondstyleborder {
    border: none;
    margin-top: -40%;
    width: 70vw;
  }
  .secondstyle p {
    width: 80vw;
    font-size: 15px;
    padding-top: 8%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .secondstyle h1 {
    font-size: 25px;
  }
  .firststyle {
    height: 40vh;
  }
  .secondstyle {
    height: 40vh;
  }
  .firststyle h1 {
    font-size: 25px;
  }

  .firststyle p {
    font-size: 18px;
  }

  .secondstyle p {
    font-size: 18px;
    padding-top: 8%;
  }
}
